/* *************
*  BASE STYLES
************* */



// ------------
// IMPORTS
// ------------
@import "reset";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Rambla');



// ------------
// Helper Vars
// ------------
$common_siteMaxWidth: 76.8rem;
$common_borderRadius: 4px;



// ------------
// COLORS VARS
// ------------
$color-brand_mainColor_base: #FE6169;
$color-brand_mainColor_shade: #C31922;
$color-brand_accentA_base: #01C5D9;
$color-main_dark: #031B40;
$color-main_light: #f6f6f6;



// ------------
// BASICS
// ------------
* {
  box-sizing: border-box;
}
html, body {
  background: $color-main_light;
  color: $color-main_dark;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  height: 100%;
  width: 100%;
}



// ------------
// TYPOGRAPHY
// ------------
h1 {
  color: $color-brand_mainColor_base;
  font-size: 5.6rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
  font-family: 'Rambla', serif;
}
h2 {
  color: $color-brand_accentA_base;
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}
h1 + h2 {
  margin-bottom: 2.4rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 0.8rem;
  margin-bottom: 1.6rem;
  &:last-child {
    margin-bottom: 0;
  }
}




// ------------
// Images
// ------------
img {
  max-width: 100%;
  border-radius: $common_borderRadius;
}
